body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ec1f1f;
}

header {
    background-color: #fdf9f9;
    color: rgb(243, 8, 8);
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
}

.testimonial {
    background-color: rgb(40, 223, 77);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    padding: 1.5rem;
}

.testimonial-text {
    font-style: italic;
    margin-bottom: 1rem;
}

.testimonial-author {
    text-align: right;
    font-weight: bold;
}